/* Elements */

body {
	background-color: black;
	
}

.square {
	background-color: red;
	width: 400px;
	height: 400px;
	position:absolute;
		left: 600px;
		top: 500px;
	transform: rotate(30deg);
	border: 20px solid magenta;
	outline-style: dotted;
	outline-color: pink;

}

.smallsquares{
	background-color: steelblue;
	height:300px;
	width:300px;
	position: absolute;
		left: 600px;
		top: 500px;
	filter: drop-shadow(50px 50px 40px cornsilk);
	transform: rotate(30deg);
}

.line {
	background-color: cyan;
	height:700px;
	width: 100em;
	box-shadow: 200px 2px 60px black inset;
	
}

.triangle {
	width:0px;
	height:0px;
	border-left: 200px solid transparent;
	border-right: 200px solid transparent;
	border-top: 400px solid seagreen;
	position:absolute;
		top:100px;
		left: 20px;
}

.pacman {
	width:0px;
	height:0px;
	border-right: 100px solid transparent;
	border-top: 100px solid yellow;
	border-left: 100px solid yellow;
	border-bottom: 100px solid yellow;
	border-top-left-radius: 100px;
	border-top-right-radius: 100px;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;
	position:absolute;
		left:500px;
		top:10px;
	filter: drop-shadow(2px 4px 15px black);
}

.circle {
	width: 100px;
	height: 100px;
	background:indigo;
	border-radius: 50%;
	position: absolute;
		left: 550px;
		top: 12px;
}

